language: node_js
node_js:
  - "7"
  - "6"
  - "4"
install:
  - npm install
after_success:
  - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
cache:
  directories:
    - $HOME/.npm
notifications:
  email: false